/*
без _ в начале название, он будет считаться как отдельный файл который надо отдельно скомпилировать,
 а с ним он является частью одного из файлов 

Тут мы создаём переменные переменные для сайта

 font-family: "Russo One", sans-serif;
 font-family: "Montserrat", sans-serif;

*/

//Fonts 
$font-main: 'Montserrat', sans-serif;//Для текста

$font-title: 'Russo One', sans-serif;//Для заголовков и выделение текста

//colors

$white: #FFFFFF; //Этот же цвет используется для текста на фоне чёрного
$black: #07060B; //Этот же цвет используется для текста на фоне белого
$invisible_text: #95959D; //Этот же цвет используется для текста цены и времени в аукционе
$footer: #46F4DB //Цвет текста 

//

 